.right_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #222222;
    height: 60px;
    padding: 0 10px
}

.right_top img {
    width: 25px;
    padding: 0 10px;
    cursor: pointer;
}

.rgtnavbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
    gap: 20px;
    cursor: pointer;
}

.rgtnavbtn2 {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 20px;
}

#theme-switch {
    height: 40px;
    width: 40px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--base-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    right: 20px;
}

.right_sec1 {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 30px;
    height: 80px;
    font-size: xx-large;
    font-weight: 900;
}

.right_sec2 {
    position: relative;
    height: calc(100vh - 140px);
    overflow-y: auto;
    padding-left: 10px;
}

.right_sec2 img {
    height: 180px;
    width: 180px;
    border-radius: 10px;
}

.rightsec2box {
    position: relative;
    display: inline-block;
    height: 250px;
    width: 180px;
    overflow: hidden;
    padding: 10px;
    /* gap: 10px; */
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.25s ease-out;
}

.playbtn {
    width: 0px;
    height: 0px;
}

.rightsec2box:hover {
    .playbtn {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: rgb(67, 177, 67);
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 85px;
        right: 15px;
        transition: 0.25s ease-out;
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    }
}

.rightsec2box :nth-child(3) {
    font-weight: 900;
}

.rightsec2box:hover {
    background-color: #1F1F1F;
}

@media screen and (max-width:480px) {

    .rightsec2box {
        width: 42vw;
    }

    .right_sec2 img {
        width: calc(42vw - 5px);
    }
}